<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title">
      Tasks
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="paddingBottom">

    <div class="nav">
      <ion-button class="navButton" routerLinkActive="active" [routerLink]="['/home']">Tasks</ion-button>
      <ion-button class="navButton" routerLinkActive="active" [routerLink]="['/dayplanner']">Day Planner</ion-button> 
    </div>

    <div class="noItemsText" *ngIf="shoppingList.length == 0 && doneList.length > 0">
      <ion-img
      src="../assets/allDone.jpg"
      alt="all done">
    </ion-img>
    </div>

    <div class="noItemsText" *ngIf="shoppingList.length == 0 && doneList.length == 0">
      add new items
    </div>

    <ion-list lines="none" class="list">
      <ion-item class="listItem" *ngFor="let item of shoppingList; let i = index" >
        <ion-label>{{ item }} </ion-label>
    
        <ion-icon [name]="(i === clickedItemIndex) ? 'checkmark-outline' : 'ellipse-outline'" (click)="doneItem(i)" class="doneButton" slot="start"></ion-icon>
      </ion-item>
    </ion-list>

    <hr class="solid"> 

    <div class="headline" *ngIf="doneList.length > 0">
      <div class="done"> 
        <div class="doneText">Done</div>
        <div>

          <ion-icon class="hideDoneListButton" 
          name="{{ display ? 'chevron-up-outline' : 'chevron-down-outline' }}"(click)="hideDoneList()"></ion-icon>

          <b class="space"></b>
          <ion-icon class="deleteDoneListButton" name="close-circle-outline" (click)="deleteDoneList()" slot="end"></ion-icon>     
        </div>
    </div>
  </div>

    <div id="hide" [ngStyle]="{'display': display ? 'none' : 'block'}">
      <ion-list class="doneList" lines="none">
        <ion-item *ngFor="let item of doneList; let i = index" class="doneTask">
          <ion-label>{{ item }}</ion-label>
          <ion-icon name="checkmark-outline" (click)="reverse(i)" slot="start"></ion-icon>
        </ion-item>
      </ion-list>
    </div>
    

</div>

  <ion-footer>
    <ion-toolbar class="footer">
      <ion-button class="addButton" slot="end" (click)="addItem()"><ion-icon name="add-outline" class="addIcon"></ion-icon></ion-button>
    </ion-toolbar>
  </ion-footer>
</ion-content>

