/* allgemein*/

ion-content {
  --padding-bottom: 20px;
}

.closeMenuButton {
  font-size: 20px;
}

ion-card-subtitle {
  color: #ffffff !important;
}

ion-button.menu-btn {
  --padding-start: 0 !important;
  --padding-end: 0 !important;
  padding: 0 !important;
}

/* Wrapper ist unsichtbar und zentriert die „Karte“ */
.list-card {
  /*--background: transparent;*/
  --padding-start: 0;
  --inner-padding-end: 0;
  --min-height: auto;
  padding: 0;
  margin: 0;
  display: block;
}

/* dynamische, statische Liste */
.card-content {
  width: 80%;
  min-height: 100px;
  border-radius: 24px;
  margin: 20px auto 0;
  padding: 16px;
  padding-left: 24px;
  padding-top: 24px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  box-shadow: none !important;
}

.list-card {
    box-shadow: none !important;
}

card-content .text {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-top: 6px;
}


/* Text innerhalb der liste */
.card-content .title {
  font-size: 19px;
  color: #fff;
}

.card-content .sub {
  font-size: 13px;
  color: rgba(255,255,255,0.8);
}

/* Drei-Punkte Button */
.menu-btn ion-icon {
  color: #fff !important;
  opacity: 1 !important;
  font-size: 22px;
  margin-top: 0px; 
}

/* Drag-Handle unsichtbar, beeinflusst das Layout nicht */
.list-reorder {
  position: absolute;
  right: 0; top: 0; bottom: 0;
  width: 40px; opacity: 0;
  pointer-events: all; z-index: 10;
}

/* Liste ohne Hintergrund */
ion-list.list-md { background: transparent !important; }

ion-card-header {
  text-align: left;
  width: 100%;
}
ion-card.tasks_lists { display: block; }

ion-card.tasks_lists ion-item {
  --background: transparent;
  --padding-start: 16px;
  --inner-padding-end: 8px;
}

ion-card.tasks_lists ion-button {
  --padding-start: 0;
  --padding-end: 0;
  --ripple-color: transparent;
}

ion-card.tasks_lists ion-icon {
  font-size: 22px;
  opacity: 0.7;
}

ion-card.tasks_lists ion-button:active ion-icon {
  opacity: 1;
  transform: scale(1.1);
  transition: 0.15s;
}

ion-icon {
        font-size: 25px;
  }

.transparent-icon-delete {
        background: transparent;
        --background: transparent;
        --color: rgb(217, 104, 134); 
    }


/* Kaufland Mode Background und Textfarbe ///////////////////////////////////////////////////7 */
.kaufland-mode-page {

    box-shadow: none;

    .edit_delete_menu {
        padding-top: 0px !important;
        background-color: #fff !important;
        color: #000000 !important;
    }

    ion-popover .edit_delete_menu ion-item {
    --ripple-color: transparent !important;
    --background-activated: transparent !important;
    }

    .add-footer ion-toolbar {
        --background: #ffffff !important; 
        --ion-toolbar-background: #ffffff !important;
        --border-width: 0 !important;
        box-shadow: none !important;
    }

    .add-toolbar {
        --background: #fff !important;
        display: flex;
        justify-content: center;
    }

    .add-list-btn {
        width: 80%;
        height: 44px;
        font-weight: 600;
        margin: 0 auto;
        display: block;
        margin: 0 auto 40px;
        --ion-toolbar-background: #ffffff !important;
        --border-radius: 24px !important;
        font-weight: normal !important;
        
    }

    .list-card {
        --background: #fff;
        --padding-start: 0;
        --inner-padding-end: 0;
        --min-height: auto;
        padding: 0;
        margin: 0;
        display: block;
    }

    .card-content {
        box-shadow: none !important;
    }

    .transparent-icon-edit {
        background: transparent;
        --background: transparent;
        --color: rgba(10, 10, 10, 0.6); 
    }

    .kaufland {
        margin: 2%;
        margin-top: -10px !important;
        padding: 2%;
        background-color: rgb(250, 248, 248);
        border-left: 4px solid #ce061d;
    }

    .headline_kaufland {
        color: black;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 0.85rem;
        overflow: hidden;
        transform: translateX(-100%);
        animation: slideIn 0.9s ease-out forwards;

    }

    @keyframes slideIn {
      from { transform: translateX(-100%); }
      to   { transform: translateX(0); }
    }

    @keyframes colorCycle {
    0%   { background-color: #ce061d; }
    25%  { background-color: #05ad2a; }
    50%  { background-color: #bb098e; }
    75%  { background-color: #bb930e; }
    100% { background-color: #3106ce; }   
    }

    @keyframes pulsieren {
      0% {
        transform: scale(1); /* Ursprüngliche Größe */
      }
      50% {
        transform: scale(1.1); /* Größer machen */
      }
      100% {
        transform: scale(1); /* Zurück zur ursprünglichen Größe */
      }
    }

    .link_kaufland {
        margin-left: 3%;
        display: inline-flex;
        background-color: #ce061d;
        color: #fff;
        border-radius: 10%;
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
        transition: transform 0.2s ease, box-shadow 0.2s ease;
        padding: 7px;
        text-decoration: none;

        animation-name: colorCycle, pulsieren;
        animation-duration: 10s, 1s;
        animation-iteration-count: infinite, infinite;
        animation-timing-function: ease-in-out, ease-in-out;
    }

    .drag_drop {
    color: white;
    }

    .footer {
        position:fixed;
        bottom:0;
        padding: 3%;    
    }

    
    .title {
        text-align: center;
        margin-right: 30px;
    }

    .addButton {
        --border-radius:20%;
        --color-hover: var(--ion-color-primary);
        --background: white;
        margin-right: 2%;
        margin-bottom: 5%;
        height: 55px;
        width: 55px;
        border-color: black;
    } 

    .addIcon {
        color: black;
        width: 60px;
        height: 60px;
    }

    ion-button {
        --border-color: var(--ion-background-color);
        --border-style: none;
        --border-width: 1px;
    }

    .doneTask {
        color:  black;
        text-decoration: line-through;
        text-decoration-color: rgba(109, 33, 33, 0.6);
    }

    .deleteButton {
        color: #ce061d !important;
    }

    .toolbar {
        text-align: center;
    }

    .deleteDoneList {
        color: #ce061d;
        text-align: right;
        margin-right: 3%;
    }

    .doneText {
        text-align: left;
    }

    .deleteDoneListButton {
        color: #ce061d;
        border-radius: 25px;
        width: 25px;
        height: 25px;
        margin-top: -50px;
    }

    .hideDoneListButton {
        border-radius: 25px;
        width: 25px;
        height: 25px;
        margin-top: -50px;
        color: black;
    }

    .done{
        display:flex; justify-content:space-between;
    }

    .doneList {
        margin-top: -25px;
        padding: 0px;
        --ion-item-background: white;
    }

    .doneText {
        margin: -3%;
        margin-left: 3%;
        color:black;
    }

    .space {
        margin: 5px;
    }

    ion-content {
    margin-bottom: 500px;
    
    }

    .paddingBottom {
        padding-bottom: 100px;
    }

    .noItemsText {
        padding: 32px;
        padding-top: 0px;
        padding-bottom: 0%;
        color: black;
        --ion-item-background: white;
    }

    .customDeleteAltert {
        background-color: rgb(6, 6, 6);
        margin-top: 13%;
    }

    .paddingBottom {
        padding-bottom: 100px;
    }

    hr.solid {
        border-top: 1px solid rgb(175, 175, 175);
        width: 100%;
    }

    .headline {
        margin: 5%;
    }

    .listItem {
        color: black;
    }

    .list {
        --ion-item-background: white;
        padding-bottom: 0px;
    }

    ion-reorder {
    pointer-events: all !important;
    z-index: 10;
    }

    .add-list-btn {
    width: 75%;
    height: 44px;
    font-weight: 600;
    margin: 0 auto;
    display: block;
    margin: 0 auto 40px;
    --background: rgb(83, 118, 153) !important;
    --ion-toolbar-background: #ffffff !important;
    --border-radius: 24px !important;
    font-weight: normal !important;
    }

}

/* dark Mode Background und Textfarbe  ----------------------------------------------------------------------------------------------------------------------------------*/
.dark-mode-page {

    box-shadow: none;

     .list-card {
        --background: #000 !important;
    }

    .ion-content {
        --background: #000 !important;
    }

    //delete edit menu für die dynamisch erstellten listen
    ion-card.tasks_lists ion-icon {
        color: #ffffff;
        opacity: 0.8;
    }

    .transparent-icon-edit {
        background: transparent;
        --background: transparent;
        --color: rgba(234, 232, 232, 0.6); 
    }

    .kaufland {
        display: none;
    }

    .drag_drop {
    color: #000000;
    }

    .footer {
    position:fixed;
    bottom:0;
    padding: 3%;
}

.addButton {
    --border-radius:20%;
    --color-hover: var(--ion-color-primary);
    --background: rgb(63, 63, 63);
    margin-right: 2%;
    margin-bottom: 5%;
    height: 55px;
    width: 55px;
} 

.addIcon {
    color: rgba(229, 225, 225, 0.6);
    width: 60px;
    height: 60px;
}

ion-button {
    --border-color: var(--ion-background-color);
    --border-style: none;
    --border-width: 1px;
}

.doneTask {
    color:  rgba(142, 137, 137, 0.6);
    text-decoration: line-through;
    text-decoration-color: rgba(142, 137, 137, 0.6);
}

.deleteButton {
    color: rgba(217, 104, 134);
}

.toolbar {
    text-align: center;
}

.deleteDoneList {
    color: rgba(217, 104, 134);
    text-align: right;
    margin-right: 3%;
}

.doneText {
    text-align: left;
}

.deleteDoneListButton {
    color: rgba(217, 104, 134);
    border-radius: 25px;
    width: 25px;
    height: 25px;
    margin-top: -50px;
}

.hideDoneListButton {
    border-radius: 25px;
    width: 25px;
    height: 25px;
    margin-top: -50px;
    color: rgba(229, 225, 225, 0.6);
}

.done{
    display:flex; justify-content:space-between;
}

.doneList {
    margin-top: -25px;
    padding: 0px;
    --ion-item-background: #000000;
}

.doneText {
    margin: -3%;
    margin-left: 3%;
    color: rgb(84, 84, 84);
}

.space {
    margin: 5px;
}

ion-content {
   margin-bottom: 500px;
  }

  .paddingBottom {
    padding-bottom: 100px;
  }

  .noItemsText {
    padding: 32px;
    padding-top: 0px;
    padding-bottom: 0%;
    color: rgba(229, 225, 225, 0.6);
    --ion-item-background: #000000;
}

.customDeleteAltert {
    background-color: rgb(6, 6, 6);
    margin-top: 13%;
}

.title {
    text-align: center;
    margin-right: 30px;
}

.paddingBottom {
    padding-bottom: 100px;
}

hr.solid {
    border-top: 1px solid rgb(84, 84, 84);
    width: 100%;
}

.headline {
    margin: 5%;
}

.listItem {
    color: rgb(255, 255, 255);
}

.list {
    --ion-item-background: #000000;
    padding-bottom: 0px;
}

ion-reorder {
  pointer-events: all !important;
  z-index: 10;
}

/* Hintergrund dynamische Listen */
.list-md {
    background-color: #000000 !important;
}

.add-footer {
  /* keine Trennlinie */
  --border-width: 0;
  padding-top: 10px;
  --background: transparent;
}

.add-toolbar {
  --background: transparent;
  display: flex;
  justify-content: center;
}

.add-list-btn {
  width: 75%;
  height: 44px;
  font-weight: 600;
  margin: 0 auto;
  display: block;
  margin: 0 auto 40px;
  --background: rgb(83, 118, 153) !important;
  --ion-toolbar-background: #ffffff !important;
  --border-radius: 24px !important;
  font-weight: normal !important;
}

.toolbar-content {
    --ion-background-color: #1e4285 !important;
}

.edit_delete_menu {
    padding-top: 0px !important;
}

  ion-menu {
    --ion-background-color: #ffffff;
    --ion-text-color: #000 !important;
    }

    ion-menu ion-icon {
    --color: #000 !important;
    }

    ion-menu ion-toolbar {
    --background: #fff;
    --color: #000 !important;
    }

}
