/* allgemein*/


/* Kaufland Mode Background und Textfarbe */
.kaufland-mode-page {

    .kaufland {
        margin: 2%;
        margin-top: -10px !important;
        padding: 2%;
        background-color: rgb(250, 248, 248);
        border-left: 4px solid #ce061d;
    }

    .headline_kaufland {
        color: black;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 0.85rem;
        overflow: hidden;
        transform: translateX(-100%);
        animation: slideIn 0.9s ease-out forwards;

    }

    @keyframes slideIn {
      from { transform: translateX(-100%); }
      to   { transform: translateX(0); }
    }

    @keyframes colorCycle {
    0%   { background-color: #ce061d; }
    25%  { background-color: #05ad2a; }
    50%  { background-color: #bb098e; }
    75%  { background-color: #bb930e; }
    100% { background-color: #3106ce; }   
    }

    @keyframes pulsieren {
      0% {
        transform: scale(1); /* Ursprüngliche Größe */
      }
      50% {
        transform: scale(1.1); /* Größer machen */
      }
      100% {
        transform: scale(1); /* Zurück zur ursprünglichen Größe */
      }
    }

    .link_kaufland {
        margin-left: 3%;
        display: inline-flex;
        background-color: #ce061d;
        color: #fff;
        border-radius: 10%;
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
        transition: transform 0.2s ease, box-shadow 0.2s ease;
        padding: 7px;
        text-decoration: none;

        animation-name: colorCycle, pulsieren;
        animation-duration: 10s, 1s;
        animation-iteration-count: infinite, infinite;
        animation-timing-function: ease-in-out, ease-in-out;
    }

    .drag_drop {
    color: white;
    }

    .footer {
        position:fixed;
        bottom:0;
        padding: 3%;    
    }

    
    .title {
        text-align: center;
    }

    .addButton {
        --border-radius:20%;
        --color-hover: var(--ion-color-primary);
        --background: white;
        margin-right: 2%;
        margin-bottom: 5%;
        height: 55px;
        width: 55px;
        border-color: black;
    } 

    .addIcon {
        color: black;
        width: 60px;
        height: 60px;
    }

    ion-button {
        --border-color: var(--ion-background-color);
        --border-style: none;
        --border-width: 1px;
    }

    .doneTask {
        color:  black;
        text-decoration: line-through;
        text-decoration-color: rgba(109, 33, 33, 0.6);
    }

    .deleteButton {
        color: #ce061d !important;
    }

    .toolbar {
        text-align: center;
    }

    .deleteDoneList {
        color: #ce061d;
        text-align: right;
        margin-right: 3%;
    }

    .doneText {
        text-align: left;
    }

    .deleteDoneListButton {
        color: #ce061d;
        border-radius: 25px;
        width: 25px;
        height: 25px;
        margin-top: -50px;
    }

    .hideDoneListButton {
        border-radius: 25px;
        width: 25px;
        height: 25px;
        margin-top: -50px;
        color: black;
    }

    .done{
        display:flex; justify-content:space-between;
    }

    .doneList {
        margin-top: -25px;
        padding: 0px;
        --ion-item-background: white;
    }

    .doneText {
        margin: -3%;
        margin-left: 3%;
        color:black;
    }

    .space {
        margin: 5px;
    }

    ion-content {
    margin-bottom: 500px;
    }

    .paddingBottom {
        padding-bottom: 100px;
    }

    .noItemsText {
        padding: 32px;
        padding-top: 0px;
        padding-bottom: 0%;
        color: black;
        --ion-item-background: white;
    }

    .customDeleteAltert {
        background-color: rgb(6, 6, 6);
        margin-top: 13%;
    }

    .paddingBottom {
        padding-bottom: 100px;
    }

    hr.solid {
        border-top: 1px solid rgb(175, 175, 175);
        width: 100%;
    }

    .headline {
        margin: 5%;
    }

    .listItem {
        color: black;
    }

    .list {
        --ion-item-background: white;
        padding-bottom: 0px;
    }

    ion-reorder {
    pointer-events: all !important;
    z-index: 10;
    }
    }

/* dark Mode Background und Textfarbe  ----------------------------------------------------------------------------------------------------------------------------------*/
.dark-mode-page {

    .kaufland {
        display: none;
    }

    .drag_drop {
    color: #121212;
    }

    .footer {
    position:fixed;
    bottom:0;
    padding: 3%;
}

.addButton {
    --border-radius:20%;
    --color-hover: var(--ion-color-primary);
    --background: rgb(63, 63, 63);
    margin-right: 2%;
    margin-bottom: 5%;
    height: 55px;
    width: 55px;
} 

.addIcon {
    color: rgba(229, 225, 225, 0.6);
    width: 60px;
    height: 60px;
}

ion-button {
    --border-color: var(--ion-background-color);
    --border-style: none;
    --border-width: 1px;
}

.doneTask {
    color:  rgba(142, 137, 137, 0.6);
    text-decoration: line-through;
    text-decoration-color: rgba(142, 137, 137, 0.6);
}

.deleteButton {
    color: rgba(217, 104, 134);
}

.toolbar {
    text-align: center;
}

.deleteDoneList {
    color: rgba(217, 104, 134);
    text-align: right;
    margin-right: 3%;
}

.doneText {
    text-align: left;
}

.deleteDoneListButton {
    color: rgba(217, 104, 134);
    border-radius: 25px;
    width: 25px;
    height: 25px;
    margin-top: -50px;
}

.hideDoneListButton {
    border-radius: 25px;
    width: 25px;
    height: 25px;
    margin-top: -50px;
    color: rgba(229, 225, 225, 0.6);
}

.done{
    display:flex; justify-content:space-between;
}

.doneList {
    margin-top: -25px;
    padding: 0px;
    --ion-item-background: #121212;
}

.doneText {
    margin: -3%;
    margin-left: 3%;
    color: rgb(84, 84, 84);
}

.space {
    margin: 5px;
}

ion-content {
   margin-bottom: 500px;
  }

  .paddingBottom {
    padding-bottom: 100px;
  }

  .noItemsText {
    padding: 32px;
    padding-top: 0px;
    padding-bottom: 0%;
    color: rgba(229, 225, 225, 0.6);
    --ion-item-background: #121212;
}

.customDeleteAltert {
    background-color: rgb(6, 6, 6);
    margin-top: 13%;
}

.title {
    text-align: center;
}

.paddingBottom {
    padding-bottom: 100px;
}

hr.solid {
    border-top: 1px solid rgb(84, 84, 84);
    width: 100%;
}

.headline {
    margin: 5%;
}

.listItem {
    color: rgb(255, 255, 255);
}

.list {
    --ion-item-background: #121212;
    padding-bottom: 0px;
}

ion-reorder {
  pointer-events: all !important;
  z-index: 10;
}

}