<ion-header [translucent]="true"
[ngClass]="{
    'dark-mode-page': darkMode,
    'kaufland-mode-page': kauflandMode
  }">
  <ion-toolbar>
    <!-- Dein Titel -->
    <ion-title class="title">Tasks</ion-title>

    <!-- Settings-Button ganz rechts -->
    <ion-buttons slot="end">
      <ion-button routerLink="/settings">
        <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

<ion-content [fullscreen]="true"
[ngClass]="{
    'dark-mode-page': darkMode,
    'kaufland-mode-page': kauflandMode
  }">

  <div class="paddingBottom">

    <hr class="nav"> 

    <div class="noItemsText" *ngIf="shoppingList.length == 0 && doneList.length > 0 && darkMode">
      <ion-img
      src="../assets/allDone.jpg"
      alt="all done">
    </ion-img>
    </div>

    <div class="noItemsText" *ngIf="shoppingList.length == 0 && doneList.length > 0 && kauflandMode">
      <ion-img
      src="../assets/kaufland.png"
      alt="all done"
      (click)="goToKaufland()">
    </ion-img>
    </div>

  <div class= "kaufland" *ngIf="shoppingList.length == 0 && doneList.length == 0 && kauflandMode">
    <p class="headline_kaufland">Don't miss our weekly specials
    <a class="link_kaufland" href="https://filiale.kaufland.de/prospekte.html">Check now!</a>
    </p>
  </div>

    <div class="noItemsText" *ngIf="shoppingList.length == 0 && doneList.length == 0 && darkMode" >
      add new items
    </div>

  <ion-list lines="none" class="list">
    
    <ion-reorder-group [disabled]="false"
                       (ionItemReorder)="doReorder($event)">
     
      <ion-item *ngFor="let item of shoppingList; let i = index" class="listItem">
        
        <ion-icon 
          slot="start"
          class="doneButton"
          [name]="i === clickedItemIndex ? 'checkmark-outline' : 'ellipse-outline'"
          (click)="doneItem(i)">
        </ion-icon>

        <!-- dein Label mit <br> falls vorhanden -->
        <ion-label [innerHTML]="item"></ion-label>

        <!-- 3) Das eine Drag-Handle rechts -->
        <ion-reorder class="drag_drop" slot="end"></ion-reorder>
      </ion-item>
    </ion-reorder-group>
  </ion-list>



    <hr class="solid"> 

    <div class="headline" *ngIf="doneList.length > 0">
      <div class="done"> 
        <div class="doneText">Done</div>
        <div>

          <ion-icon class="hideDoneListButton" 
          name="{{ display ? 'chevron-up-outline' : 'chevron-down-outline' }}"(click)="hideDoneList()"></ion-icon>
          <b class="space"></b>
          <ion-icon class="deleteDoneListButton" name="close-circle-outline" (click)="deleteDoneList()" slot="end"></ion-icon>     
        </div>
    </div>
  </div>

    <div id="hide" [ngStyle]="{'display': display ? 'none' : 'block'}">
      <ion-list class="doneList" lines="none">
        <ion-item *ngFor="let item of doneList; let i = index" class="doneTask">
          <ion-label>{{ item }}</ion-label>
          <ion-icon name="checkmark-outline" (click)="reverse(i)" slot="start"></ion-icon>
        </ion-item>
      </ion-list>
    </div>
    

</div>

  <ion-footer>
    <ion-toolbar class="footer">
      <ion-button class="addButton" slot="end" (click)="addItem()"><ion-icon name="add-outline" class="addIcon"></ion-icon></ion-button>
    </ion-toolbar>
  </ion-footer>
</ion-content>

